body {
  background-color: #252835;
  font-family: "Source Code Pro", monospace;
  color: white;
}

.navbar-expand-lg {
  background-color: #e877a6;
  border-radius: 10px;
  padding: 20px;
  font-size: 18pt;
  position: relative;
}

.card {
  margin-top: 20px;
  margin-right: 30px;
  background-color: #252835;
  border: 2px solid #e877a6;
  text-align: center;
}

/* #contactInfo-Style {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 25px;
} */

#portfolio {
  margin-bottom: 50px;
}

h1 {
  font-size: 77pt;
}

#image {
  float: right;
  height: 200px;
  padding: 10px;
  border-radius: 5px solid black;
}

#about-me {
  margin-top: 20px;
  margin-bottom: 150px;
  border: 10px solid #e877a6;
  border-radius: 10px;
  padding: 20px;
  font-size: 14pt;
  font-weight: bold;
  color: hsla(42, 0%, 100%, 0.8);
}

.footer {
  /* position: fixed; */
  /* left: 0;
  bottom: 0; */
  width: 100%;
  padding: 20px;
  color: hsla(42, 0%, 100%, 0.8);
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
  border: 6px solid;
  border-radius: 10px;
  background-color: #e877a6;
}
