/* body {
  background-image: url(../images/pattern.png);
} */

body {
  background-color: #252835;
  font-family: "Source Code Pro", monospace;
}

#navbarStyling {
  display: flex;
  display: inline-block;
  margin-top: 20px;
  background-color: #e877a6;
  font-size: 18pt;
  color: #252835;
  border-radius: 10px;
  position: static;
}
.about-me {
  padding: 20px;
  height: auto;
  min-height: 350px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
  color: #252835;
  font-size: 12pt;
  font-family: sans-serif;
}

p {
  color: white;
}
.image {
  float: left;
  height: 200px;
  padding: 10px;
}

#borderStyle {
  margin-top: 20px;
  padding: 20px;
  border: 8px solid;
  border-image: linear-gradient(
      #23966c 0%,
      #faaa54 25%,
      #e23b4a 50%,
      #db0768 75%,
      #360670 100%
    )
    1;
}

.footer {
  width: 100%;
  background-color: #e877a6;
  color: white;
  text-align: center;
  padding: 70px;
  margin-top: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border: 8px solid;
  border-image: linear-gradient(
      #23966c 0%,
      #faaa54 25%,
      #e23b4a 50%,
      #db0768 75%,
      #360670 100%
    )
    1;
}
/* .nav-Poli {
  float: left;
  background-color: #4aaaa5;
  color: whitesmoke;
  text-decoration: none;
  width: auto;
  padding: 30px;
  font-weight: bold;
  font-size: 24pt;
  font-family: Georgia, "Times New Roman", Times, serif;
} */

/* .nav {
  overflow: hidden;
  text-decoration: none;
  background-color: #ffffff;
  border: 0.5px solid #cccccc;
  padding: 30px;
  width: auto;
  font-weight: normal;
  font-size: 14pt;
  text-align: right;
  font-family: Georgia, "Times New Roman", Times, serif;
} */

/* .nav-li {
  list-style-type: none;
  display: inline-flex;
  text-decoration: none;
  margin: 10px;
  color: #777777;
} */

/* 
.box {
  position: relative;
  display: inline-block;
  margin: 10px;
  margin-bottom: 30px;
}
.text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
  padding: 0;
  text-align: center;
  color: white;
  background-color: #4aaaa5;
}

p {
  font-size: 10pt;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.footer {
  width: 100%;
  background-color: #777777;
  color: white;
  text-align: center;
  border-top: 10px solid #4aaaa5;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
}

.input-styling {
  color: #777777;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16pt;
  line-height: 30px;
}
.grid-image {
  height: 150px;
}

@media screen and (max-width: 980px) {
  .about-me {
    width: 100%;
  }

  body {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .about-me {
    width: 90%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 640px) {
  .nav-header {
    width: 100%;
    display: inline-block;
    margin: auto;
    overflow: hidden;
  }

  .nav {
    width: 100%;
    margin: auto;
    display: inline-block;
    text-align: center;
  }

  .about-me {
    width: 75%;
    margin-bottom: 30px;
  }

  p {
    font-size: 8pt;
    display: inline-block;
  }
} */
